<!-- Main Banner Starts -->
	<div class="main-banner">
	<!-- Nested Container Starts -->
		<div class="container">
			<h1 class="text-uppercase">Step 1 of 2</h1>
      <h2>Place Order</h2>
		</div>
	<!-- Nested Container Ends -->
	</div>
<!-- Main Banner Ends -->
<%= render 'form', order: @order %>
