
<!-- Main Banner Starts -->
	<div class="main-banner">
	<!-- Nested Container Starts -->
		<div class="container">
		</div>
	<!-- Nested Container Ends -->
	</div>
<!-- Main Banner Ends -->
<%= render 'form', order: @order %>
