
<!-- Main Banner Starts -->
	<div class="main-banner">
	<!-- Nested Container Starts -->
		<div class="container">
			<h1 class="text-uppercase">Shopping Cart</h1>
			<h2>As safe as possible !</h2>
		</div>
	<!-- Nested Container Ends -->
	</div>
<!-- Main Banner Ends -->
<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Shopping Cart</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Shopping Cart
		</h2>
	<!-- Main Heading Ends -->
	<!-- Shopping Cart Table Starts -->
		<div class="table-responsive shopping-cart-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">
							Image
						</td>
						<td class="text-center">
							Product Details
						</td>
						<td class="text-center">
							Quantity
						</td>
						<td class="text-center">
							Price
						</td>
						<td class="text-center">
							Total
						</td>
						<td class="text-center">
							Action
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">
							<a href="product.html">
								<img src="images/product-images/cart-thumb-img1.jpg" alt="Product Name" title="Product Name" class="img-thumbnail" />
							</a>
						</td>
						<td class="text-center">
							<a href="product-full.html">Digital Electro Goods</a>
						</td>
						<td class="text-center">
							<div class="input-group btn-block">
								<input type="text" name="quantity" value="1" size="1" class="form-control" />
							</div>
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							<button type="submit" title="Update" class="btn btn-default tool-tip">
								<i class="fa fa-refresh"></i>
							</button>
							<button type="button" title="Remove" class="btn btn-default tool-tip">
								<i class="fa fa-times-circle"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td class="text-center">
							<a href="product.html">
								<img src="images/product-images/cart-thumb-img2.jpg" alt="Product Name" title="Product Name" class="img-thumbnail" />
							</a>
						</td>
						<td class="text-center">
							<a href="product-full.html">Digital Electro Goods</a>
						</td>
						<td class="text-center">
							<div class="input-group btn-block">
								<input type="text" name="quantity" value="1" size="1" class="form-control" />
							</div>
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							<button type="submit" title="Update" class="btn btn-default tool-tip">
								<i class="fa fa-refresh"></i>
							</button>
							<button type="button" title="Remove" class="btn btn-default tool-tip">
								<i class="fa fa-times-circle"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					  <td colspan="4" class="text-right">
						<strong>Total :</strong>
					  </td>
					  <td colspan="2" class="text-left">
						$300
					  </td>
					</tr>
				</tfoot>
			</table>
		</div>
	<!-- Shopping Cart Table Ends -->
  
<%= render 'form', order: @order %>
