<div class="flash-alert">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
<br>
<div class="home_link"><%= link_to "Go Back Home", home_index_path  %></div>
