<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cooked Nearby</h1>
    Thank you <%= @cook.first_name %> for joining.
    Don't wait. Start uploading meals and let your community know you are cooking.
    Just keep a few things in mind: <br />
    <ul>
      <li>Always upload high quality images of your meals</li>
      <li>Add a bio under 'edit profile'</li>
      <li>Add a profile image if you haven't done so already</li>
      <li>Review the California Health Code found here <a href="https://cookednearby.com/abouts/about_health">Health Code</a></li>
      <li>Pay attention to your email inbox. That is where order notifications are sent.</li>
      <li>Have meals ready and or delivered on time and kept fresh.</li>
      <li>Feel free to contact the customer directly if you have concerns regarding an order.</li>
      <li>Don't forget that you need a user account to order meals from other cooks</li>
    </ul>
    Also, we would appreciate it if you could share us on Facebook.
    In the meantime please feel free to let us know how we are doing.
    Click the following link to send us a message: <a href="https://cookednearby.com/contacts">Contact Us</a> <br>

    Visit our site: <a href="https://cookednearby.com">Cooked Nearby</a>

    Happy cooking!
  </body>
</html>
