<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cooked Nearby</h1>
    Thank you <%= @user.first_name %> for joining. Please make sure to check us out on regular basis to see what is being cooked around you.
    Also, we would appreciate it if you could share us on Facebook.
    In the meantime please feel free to let us know how we are doing.
    Click the following link to send us a message: <a href="https://cookednearby.com/contacts">Contact Us</a> <br>
    Enjoy your meals.
  </body>
</html>
