<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> Just Paid For An Order!</h1>
    Order Details: <br />
    <div class="single_order_view">
      <%= render 'orders/order_details_cook' %>
    </div><br />
  </body>
</html>
