<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% else %>
  <div class="thank-you">
  <h3>Thanks, you paid <strong>$<%= sprintf( "%0.02f", @amount) %></strong>!</h3>
  <%= link_to "Back Home", root_path %>
  </div>
<% end %>
